.topSec {
    background-color: #f1c40f;
    text-align: center;
    padding: 1.75rem 1rem;
    margin: 1.5rem 0rem;
}

.singleRes {
    border: 1px solid #eee;
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
}
.imgWrap {
    border-bottom: 1px dotted #eee;
}
.fitemWrap {
    display: flex;
    align-items: center;
    gap: 4px;
}

.filterItem {
    /* border: 1px solid green; */
    padding: 2px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.activeItem {
    background-color: #5D87FF;
    color: #fafafa;
}
.select {
    font-size: 0.875rem;
}
.arrowsWrap {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    margin-top: 1rem;
}
.arrow {
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}
.arrow:hover {
    background-color: #eee;
}